<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="//vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet">
    <title>galleryWebApp</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but galleryWebApp doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="//vjs.zencdn.net/5.19/video.min.js"></script>
    <script src="//cdn.sc.gl/videojs-hotkeys/0.2/videojs.hotkeys.min.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
