<template>
  <div class="about">
    <van-nav-bar
      title="关于"
      :fixed="true"
      right-text="按钮"
    ></van-nav-bar>
      <!-- @click-left="onClickLeft"
    @click-right="onClickRight" -->
    <h1>This is an about page</h1>
  </div>
</template>
