<template>
  <div>
    <van-nav-bar
      title="相册"
      :fixed="true"
    >
      
      <div slot="right" @click="buildGallery()">
        <i class="icon iconfont icon-tianjia"></i>
      </div>
    </van-nav-bar>
    <van-dialog
      v-model="show"
      show-cancel-button
      :before-close="beforeClose"
      slot="right"
    >
      <van-field
        v-model="fileName"
        label="相册名称"
        placeholder="请输入相册名称"
      />
    </van-dialog>
    <van-row gutter="5">
      <van-col span="12" offset="" v-for="(item, index) in imageList" :key="index">
        <img :src="item" alt="" width="100%">
      </van-col>
    </van-row>
  </div>
</template>
<script>

  export default {
    data () {
      return {
        show: false,
        fileName: '',
        imageList: [
          'http://pic14.nipic.com/20110605/1369025_165540642000_2.jpg',
          'http://pic14.nipic.com/20110605/1369025_165540642000_2.jpg',
          'https://img.yzcdn.cn/2.jpg',
          'https://img.yzcdn.cn/2.jpg',
        ]
      }
    },
    methods: {
      beforeClose(action, done) {
        if (action === 'confirm') {
          // 新建相册
          this.imageList.push('http://pic14.nipic.com/20110605/1369025_165540642000_2.jpg')
          setTimeout(done, 1000);
        } else {
          done();
        }
      },
      buildGallery(){
        this.show = true;
      }
    }
  }
</script>