<template>
  <div class="home">
    <van-nav-bar
      title="图片"
      :fixed="true"
    >
      <van-uploader :after-read="onRead" slot="right">
        <i class="float-right icon iconfont icon-tupianshangchuan"></i>
      </van-uploader>
    </van-nav-bar>

    <van-list
      v-model="loading"
      :finished="finished"
      @load="onLoad"
    >
      <div class='demo-lazyload' v-for="(img,index) in list" :key="index" >
        <img v-lazy="img" @click="imgPreview(index)"/>
        <ToolBar :itemScope="img"></ToolBar>
      </div>
    </van-list>
  </div>
</template>

<script>
import { ImagePreview } from 'vant';
import ToolBar from '../components/ToolBar';

export default {
  name: 'Home',
  components: {
    ToolBar
  },
  methods: {
    onLoad() {
      // 异步更新数据
      setTimeout(() => {
        this.list = this.list.concat(this.imageList.slice(this.listCount, this.listCount+10));
        this.listCount += 1;

        this.loading = false;

        // 数据全部加载完成
        if (this.list.length >= 40) {
          this.finished = true;
        }
      }, 500);
    },
    imgPreview(index) {
      ImagePreview({
        images: this.list,
        startPosition: index,
        onClose() {
          // do something
        }
      });
    },
    onRead(file) {
      console.log(file)
    }
  },
  data() {
    return {
      list: [],
      instance: null,
      listCount: 0,
      loading: false,
      finished: false,
      imageList: [
        'http://pic14.nipic.com/20110605/1369025_165540642000_2.jpg',
        'http://pic14.nipic.com/20110605/1369025_165540642000_2.jpg',
        'https://img.yzcdn.cn/2.jpg',
        'https://img.yzcdn.cn/2.jpg',
        'https://img.yzcdn.cn/2.jpg',
        'https://img.yzcdn.cn/2.jpg',
        'https://img.yzcdn.cn/2.jpg',
        'https://img.yzcdn.cn/2.jpg',
        'https://img.yzcdn.cn/2.jpg',
        'https://img.yzcdn.cn/2.jpg',
        'https://img.yzcdn.cn/2.jpg',
        'https://img.yzcdn.cn/2.jpg',
        'https://img.yzcdn.cn/2.jpg',
        'https://img.yzcdn.cn/2.jpg',
      ]
    };
  }
}
</script>

<style lang="less">
  .home {
    background-color: #F9F9F9;
  }
  .float-right {
    float: right;
  }

  .van-uploader__input {
    position: unset !important;
    width: auto !important;
    height: auto !important;
  }
  .demo-lazyload img,
    .demo-lazyload div[lazy] {
      width: 100%;
      background-repeat: no-repeat;

  }
  .demo-lazyload .van-doc-demo-block__title,
    .demo-lazyload .van-doc-demo-section__title {
      padding-left: 0;
  }

</style>
