<template>
  <div class="home">
    <van-nav-bar
      title="视频"
      :fixed="true"
    >
      <div slot="right">
        <van-uploader :after-read="onRead">
          <i class="float-right icon iconfont icon-shipinshangchuan"></i>
        </van-uploader>
      </div>
    </van-nav-bar>
    <van-list
      v-model="loading"
      :finished="finished"
      @load="onLoad"
    >
      <div class='demo-lazyload' v-for="(img,index) in list" :key="index">
        <video
          id="my-player"
          class="video-js"
          controls
          preload="auto"
          webkit-playsinline="true"
          playsinline="true"
          poster="http://vjs.zencdn.net/v/oceans.png"
          data-setup='{}'>
          <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
        </video>
        <ToolBar :itemScope="img"></ToolBar>
      </div>
  </van-list>
  <van-dialog
    v-model="show"
    show-cancel-button
  ></van-dialog>
</div>
</template>

<script>
import ToolBar from '../components/ToolBar';

export default {
  name: "Home",
  components: {
    ToolBar
  },
  methods: {
    onLoad() {
      // 异步更新数据
      setTimeout(() => {
        this.list = this.list.concat(
          this.videoList.slice(this.listCount, this.listCount + 10)
        );
        this.listCount += 1;

        this.loading = false;

        // 数据全部加载完成
        if (this.list.length >= 40) {
          this.finished = true;
        }
      }, 500);
    },
    onRead(file) {
      console.log(file)
    }
  },
  data() {
    return {
      show: false,
      list: [],
      listCount: 0,
      loading: false,
      finished: false,
      videoList: [
        "http://pcpn8ly27.bkt.clouddn.com/IMG_4333.MOV?vframe/jpg/offset/0",
        "http://pcpn8ly27.bkt.clouddn.com/IMG_4333.MOV?vframe/jpg/offset/0",
        "http://pcpn8ly27.bkt.clouddn.com/IMG_4333.MOV?vframe/jpg/offset/0",
        "http://pcpn8ly27.bkt.clouddn.com/IMG_4333.MOV?vframe/jpg/offset/0",
        "http://pcpn8ly27.bkt.clouddn.com/IMG_4333.MOV?vframe/jpg/offset/0",
        "http://pcpn8ly27.bkt.clouddn.com/IMG_4333.MOV?vframe/jpg/offset/0",
        "http://pcpn8ly27.bkt.clouddn.com/IMG_4333.MOV?vframe/jpg/offset/0",
        "http://pcpn8ly27.bkt.clouddn.com/IMG_4333.MOV?vframe/jpg/offset/0",
        "http://pcpn8ly27.bkt.clouddn.com/IMG_4333.MOV?vframe/jpg/offset/0",
        "http://pcpn8ly27.bkt.clouddn.com/IMG_4333.MOV?vframe/jpg/offset/0"
      ]
    };
  }
};
</script>

<style lang="less">
.home {
  background-color: #f9f9f9;
}
.float-right {
  float: right;
}
.van-uploader__input {
  position: unset !important;
  width: auto !important;
  height: auto !important;
}
.demo-lazyload {
  #my-player {
    width: 100%;
    height: 300px
  }
}

</style>
