<template>
  <div class="tabs">
    <!--命名路由-->
    <ul>
      <!--this inspection reports XML/HTML tags with missing mandatory attrbutes ,you can specify attrbute name that should not  be reported-->
      <!--home被点击后，一直处于激活状态，因此需要使用精确匹配模式，在router-link中添加exact属性-->
      <router-link :to="{name:'home'}" tag="li" exact>
        <div>
          <i class="icon iconfont icon-tupian"></i>
        </div>
        <div>图片</div>
      </router-link>
      <router-link :to="{name:'video'}" tag="li">
        <div>
          <i class="icon iconfont icon-x-mpg"></i>
        </div>
        <div>视频</div>
      </router-link>
      <router-link :to="{name:'collection'}" tag="li">
        <div>
          <i class="icon iconfont icon-shoucang"></i>
        </div>
        <div>相册</div>
      </router-link>
      <!-- <router-link :to="{name:'setting'}" tag="li">
        <div>
          <i class="icon iconfont icon-shezhi"></i>
        </div>
        <div>设置</div>
      </router-link> -->
    </ul>
  </div>
</template>
<script type="text/ecmascript-6">
  export default {}
</script>
<style lang="less" type="text/less">
  .tabs {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px #000;
    width: 100%;
    & > ul, & > ul > li {
      margin: 0;
      padding: 0;
    }
    ul {
      display: table;
      width: 100%;
      & > li {
        text-align: center;
        font-size: 12px;
        display: table-cell;
        padding: 8px 12px;
        cursor: pointer;
        &.router-link-active{
          color: #D0021B;
        }
        & > div {
          font-size: 14px;
          & > i {
            font-size: 25px;
          }
        }
      }
    }
  }
</style>
