<template>
  <span class="toolbar" ref="item">
    <span class="icon-btn-group">
      <i class="icon iconfont icon-shoucang1" @click="imgCollection()"></i>
    </span>
  </span>
</template>

<script>
  export default {
    name: "ToolBar",
    prop: ['itemScope'],
    data() {
      return {

      }
    },
    methods: {
      imgCollection(){
        // 可定义数据 id, 然后通过 id 关联相册和用户, 若id在关联表中存在暂时不用管他 
        console.log(this.$refs.item.getAttribute("itemScope"))
        // 获取相册
        // 没有相册提示新建相册
        // 收藏图片关联相册
      },
    }
  }
</script>

<style lang="less">
  .toolbar {
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 35px;
    position: relative;
    top: -4px;
    .icon-btn-group {
      float: right;
      line-height: 32px;
      padding-right: 20px;
    }
  }
</style>

