<template>
  <div id="app">
    <div class="content">
      <router-view></router-view>
    </div>
    <Tabs></Tabs>
  </div>
</template>

<script>
  import Tabs from "./components/Tabs.vue"
  export default {
    name: 'app',
    data(){
      return {
        title: "首页"
      }
    },
    methods: {
      onClickLeft() {
        // Toast('返回');
      },
      onClickRight() {
        // Toast('按钮');
      }
    },
    // watch:{
    //   $route(to){
    //     this.title = to.meta.name
    //   }
    // },
    components: { Tabs }
  }
</script>

<style>

  *{
    padding:0;
    margin:0;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
  }
  .van-list, .van-row {
    margin-top: 46px;
    margin-bottom: 68px;
    background-color: #F0F0F0;
  }

</style>
